<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="prodevtools_configuration" translate="label" sortOrder="250">
            <label>Pro Dev Tools</label>
        </tab>
    </system>
</config>
